body{
    margin: 0;
    background-color: rgb(7, 206, 173); 
      

}

.imagen{
  display: block;
  margin-left: 10%;
  width: 40%;
  height: 40%;
}
.form {
        position: absolute;
        top: 20%;
        left: 30%;
        
        background-color: black;
        
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        
      }

